<%- include("partials/header") -%>

<section class="about">
    <div class="about-title">
        <div class="about-heading">
            <hr>
            <p>About Me</p>
            <hr>
        </div>
        <img src="Assets/my.png" alt="Aman Malviya">
    </div>
    <br>
    <br>
    <div class="about-text">
        <p>Thank you for stopping by!</p><br>
        <p>I'm Aman Malviya. I'm an Engineering Undergraduate pursuing Bachelor of Technology in Electronics and Communication from the National Institute of Technology, Bhopal. I m a technophile which is the reason I just love playing around with the code.</p><br>
        <p>Following are the things that I love to do apart from coding:</p>
        <ul>
            <li>Travelling</li>
            <li>Sports (The two I love most are Badminton and Table Tennis).</li>
            <li>Reading some interesting facts about science and maths.</li>
        </ul><br>
        <p>Would love to connect with you.</p>
        <div class="row about-footer">
            <div class="col-sm-5 signature">
                <img src="Assets/signature.png" alt="">
            </div>
            <div class="col-sm-7 sm">
                <ul>
                    <li><a target="_blank" href="https://amanmalviya.site/"><i class="fa fa-globe" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="mailto:amanmalv09@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i></a></li>
                    <li><a target="_blank" href="https://www.instagram.com/aman_malviya._"><i class="fab fa-instagram"></i></a></li>
                    <li><a target="_blank" href="https://www.linkedin.com/mwlite/in/amanmalviya14"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>

    </div>
</section>
<%- include("partials/footer") -%>