<%- include("partials/header") -%>

<section class="about">
    <div class="about-title">
        <div class="about-heading">
            <hr>
            <p>About Me</p>
            <hr>
        </div>
        <img src="Assets/my.png" alt="">
    </div>
    <div class="about-text">
        <p>Perspiciatis aliquid consequuntur assumenda voluptates natus provident, repellat maiores laudantium corrupti?
            Dicta nulla pariatur sequi suscipit quas veniam voluptate veritatis! Eveniet repudiandae quod modi
            quibusdam.</p><br>
        <p>Tempora nisi quam, itaque atque doloribus natus quidem omnis fuga, similique ducimus, corporis architecto
            dolores veritatis tempore soluta cupiditate saepe est amet explicabo quos obcaecati.</p><br>
        <ul>
            <li>Pariatur, exercitationem.</li>
            <li>Itaque dignissimos.</li>
            <li>Amet recusandae quad.</li>
        </ul><br>
        <p>Nihil fugiat suscipit in doloribus dolore deserunt voluptate ex necessitatibus ducimus sit. Maxime
            consectetur sapiente itaque, suscipit nulla delectus enim molestiae.</p><br>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde libero, nisi, debitis odio iste voluptatum
            nemo esse vitae reprehenderit a porro quos nostrum eveniet dolorem!</p>
        <div class=" row about-footer">
            <div class="col-sm-5 signature">
                <img src="Assets/signature.png" alt="">
            </div>
            <div class="col-sm-7 social-media">
                <ul>
                    <li><a href="https://www.instagram.com/amalviya_0508/?hl=en"><i class="fab fa-instagram"></i></a></li>
                    <li><a href="https://www.facebook.com/aman.malviya.9699523"><i class="fab fa-facebook-square"></i></a></li>
                    <li><a href="https://mobile.twitter.com/amanmal30160361"><i class="fab fa-twitter-square"></i></a></li>
                    <li><a href="https://www.linkedin.com/mwlite/in/aman-malviya-5347871b1"><i class="fab fa-linkedin"></i></a></li>
                </ul>
            </div>
        </div>

    </div>
</section>
<%- include("partials/footer") -%>