<%- include("partials/header-facts") -%>

<section class="blog-section">
  <div class="container-fluid blog-banner">
    <div
      class="blog-bg"
      style="
        background: url(../Assets/girl.jpg);
        background-size: cover;
        background-position-y: 30%;
      "
    >
      <div class="blog-type">
        <h6>Facts</h6>
      </div>
    </div>
    <div class="blog-content parameter">
      <h2>Falling sensation when going to sleep.</h2>
      <h4>
        What is a Hypnic jerk? Why do you feel like falling from a height when
        you are about to fall sleep?
      </h4>
      <p class="align-left">
        You are about to fall asleep and all of a sudden you feel like falling
        from a height and your body jolts itself awake. No need to worry because
        it’s pretty normal, it’s a common experience that every individual goes
        through. It’s actually connected to one’s sleep cycle. There are four
        stages of sleep, Stage 1-“beginning stage/ light sleep”, Stage 2-“brain
        processes start to slow”, and then Stage 3-“brain processes become very
        slow”, Stage 4-“REM Sleep, re-energizing you brain, rapid eye movements,
        dreaming, respiration increases etc”. <br /><br />

        Hypnic jerks or hypnogogic jerks are the sensations that are directly
        connected to one’s brain like the other ones like Déjà vu. These
        involuntary jerks occur when you are in stage 1 or maybe stage 2 of your
        sleep. You are about to fall sleep, your breathing slows down, your
        muscles relax but you brain is not completely asleep at that time, some
        part of your brain that is still active considers the relaxing of your
        muscles as a falling sensation, sending a signal through the nerves,
        involuntarily twitching all of your muscles and waking you up.
        <br /><br />
        This is one theory, ofcourse there are other theories, some say that
        these involuntary jerks are caused by misfiring of nerves during the
        sleeping process and some say that these jerks are evolutionary
        byproduct, our primary ancestors used to stay on trees so relaxing of
        muscles may connect to falling from a tree, and if you are falling from
        a tree, you need to react otherwise you may break your neck, right?
      </p>
      <br /><br /><br />
      <hr />
      <p>
        <span class="author">By <strong>Aman Malviya</strong></span>
        <span class="date">August 1, 2020</span>
      </p>
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
