<%- include("partials/header") -%>

<section class="contact">
    <div class="contact-title">
        <div class="contact-heading">
            <hr>
            <p>Contact Me</p>
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4 contact-details">
            <i class="fas fa-university"></i>
            <p>Address</p>
            <h6>NIT Bhopal, Madhya Pradesh, India</h6>
        </div>
        <div class="col-lg-4 contact-details">
            <i class="fas fa-phone-alt"></i>
            <p>Call Me</p>
            <h6>+91 6264937094</h6>
            <h6>+91 8269366460</h6>
        </div>
        <div class="col-lg-4 contact-details">
            <i class="far fa-envelope"></i>
            <p>Email Address</p>
            <h6>amanmalv09@gmail.com</h6>
        </div>

    </div>

    <div class="row">
        <div class="col-lg-5 contact-img">
            <img src="Assets/mob4.png" alt="">
        </div>
        <div class="col-lg-7 sent">
            <h3>Your message delivered successfully.</h3>
        </div>

    </div>
</section>

<%- include("partials/footer") -%>