<%- include("partials/header-physics") -%>

<section class="blog-section">
  <div class="container-fluid blog-banner">
    <div
      class="blog-bg"
      style="
        background: url(../Assets/button.jpg);
        background-size: cover;
        background-position-y: 30%;
      "
    >
      <div class="blog-type">
        <h6>Physics</h6>
      </div>
    </div>
    <div class="blog-content parameter">
      <h2>
        A set is a member of itself if and only if it is not the member of
        itself??
      </h2>
      <h4>
        What actually is Russell's Paradox? Is a set of all the sets that are
        not the member of themselves, a member of itself?
      </h4>
      <p class="align-left">
        Yes, here’s the contradiction. According to naive set theory, any
        definable collection is a set. Consider a set R. If this set R is not
        the member of itself then according to its definition, it must contain
        itself. But if it contains itself the how can it be a set of all the
        sets that are not the set of themselves?? Confused?? <br /><br />
        Understand this Barber’s paradox (a puzzle derived from Russell’s
        Paradox) to get familiar with the actual Russell’s Paradox. If Rohan is
        one and only barber in a village who is strictly directed to do shave
        all and only those people in the village who can’t shave by themselves.
        Now think, can Rohan shave himself?? If he shaves himself, then he
        should not, because he needs to shave only those who can’t shave by
        themselves. On the other hand if he decides not to shave himself then
        being a part of that village he fits in the group of all those people
        who would be shaved by the barber and so, as a barber he should shave
        himself. <br /><br />
        Gottlob Frege, a famous logician disagreed with Aristotle’s point that
        numbers were properties of objects because if numbers are properties of
        objects then only one number should belong to any object and shouldn’t
        be influenced by matter of opinion. But one pair of hands is also two
        hands, so two numbers associated with an opinion. After his dissent with
        Aristotle’s argument, Frege explained numbers as the extension of
        concepts, consider a concept ‘The color blue’ then the corresponding
        extension will be a set of all the things that are coloured blue
        (present, past, and future). And he further added that every concept has
        an extension, you can’t think of an concept that lacks an extension.
        <br /><br />
        But the twist in the story, Frege wasn’t aware of Bertrand Russell’s
        plan. Russell sent Frege a mail, congratulating him for his theory along
        with a catastrophe. Yes, Russell sent the Russell’s paradox. He
        questioned Frege- ‘Consider a set of all the sets that are not the
        members of themselves. Is that set a member of itself?’ This simple
        looking question trembled Frege’s foundation, because a theory which
        results in two statements that contradict each other that that theory
        must be in complete error.
      </p>
      <br /><br /><br />
      <hr />
      <p>
        <span class="author">By <strong>Author</strong></span>
        <span class="date">July 23, 2020</span>
      </p>
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
