<%- include("partials/header-physics") -%>

<section class="blog-section">
  <div class="container-fluid blog-banner">
    <div
      class="blog-bg"
      style="
        background: url(../Assets/space.png);
        background-size: cover;
        background-position-y: 30%;
      "
    >
      <div class="blog-type">
        <h6>Physics</h6>
      </div>
    </div>
    <div class="blog-content parameter">
      <h2>How Gravity affects Time?</h2>
      <h4>
        The curvature of Space-time, predicted by Albert Einstein, still a
        mystery.
      </h4>
      <p class="align-left">
        Issac newton presumed that time was fixed, space was fixed and gravity
        was a mysterious force that can act between two objects, these objects
        not even touching each other. So he presumed that gravity can’t affect
        the space and time but acts within it. But Einstein had something
        different going on his mind. He said that gravity is not only a force
        but gravity is something that originates by the interaction of space and
        matter. He said that the massive objects in the space bend the space and
        give it a curvature, and even the light bends across the massive
        objects. <br /><br />
        Arthur Eddington proved that the light deviates from its path across
        massive objects by measuring the position of a star during a solar
        eclipse. The position of the star during solar eclipse differed from its
        actual position, supporting the fact that light curves itself across
        massive objects like the Sun. <br /><br />
        Einstein in his theory of special relativity mentioned that the Speed of
        light remains constant irrespective of any reference frame. So, lets
        consider two points in a gravitational field, i.e. these two points are
        located in the vicinity of massive objects, so ofcourse in a curved
        space. Light travels between these two points so it will definitely take
        a curved path. Now, consider these two points in empty space, i.e. no
        gravitational field. Light will take a straight path. But wait wait, the
        speed of light remains constant, right? And the shortest distance
        between these two points is different in a presence and absence of
        gravitational field. <br /><br />
        Speed= Distance/Time <br /><br />
        So, the time changes proportionally with the curvature of space? So, the
        time runs slow in a strong gravitational field? Yes, it has been
        observed. <br /><br />
        Einstein’s theory doesn’t work with the quantum theories and it doesn’t
        seem to answer everything but it still manages to prove the motion of
        mercury in its orbit which was a mystery for the scientists before the
        theory of relativity came into existence. Einstein’s theory also
        predicts the existence of blackholes where the curvature of space-time
        increases so tremendously that anything including light can’t escape.
        Einstein’s theory predicts that time runs slower in gravitational
        potentials and it has been observed as well. But still the questions
        remain, why the massive objects distort the space-time? What gravity
        exactly is?
      </p>
      <br /><br /><br />
      <hr />
      <p>
        <span class="author">By <strong>Aman Malviya</strong></span>
        <span class="date">August 10, 2020</span>
      </p>
    </div>
  </div>
</section>

<%- include("partials/footer") -%>
